  <script type="text/javascript" src="/javascripts/wmd.js"></script>
  <script type="text/javascript" src="/javascripts/jkscript.js"></script>

<div id="articles" >
<%= form_for @post, :url => "/posts/new" do |form| %>
  
  <%= form.label :title %>
<%= form.text_field :title %>
<br />
  <%= form.label :body %>
  <%= form.text_area :body %>
  <br />
<%= submit_tag "Save Post" %>
<% end %>
</div>
