<!DOCTYPE html>
<html>
<head>
  <title>The Dev Station</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<script charset="utf-8" src="http://cachedcommons.org/cache/jquery-disqus/1.0.0/javascripts/jquery-disqus.js" type="text/javascript"></script>

</head>
<body>
<!-- semantic code comments itself -->
<header>
    <h1>><a href="/">the dev station<small> development blog and such</small></a></h1>
	<ul id="social_links">
      <li><a href="/posts.atom"><img src="/images/rss.png" alt="rss link" /></a></li>
      <li><a href="http://facebook.com/shanejonas"><img src="/images/facebook.png" alt="facebook profile" /></a></li>
      <li><a href="http://twitter.com/shanejonas"><img src="/images/twitter.png" alt="twitter profile" /></a></li>
    </ul>
</header>
 <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Blog Content -->
<%= yield %>
<!-- Blog Content End -->

<div id="sidebar">
  <section id="search">
    Search: <%= render :partial => "posts/search" %>
  </section>
  <section id="about_author">
    <h2>About</h2>
    <img src="/images/pic.jpg" />
    <p class="about_text">The Dev Station is the home of Shane Jonas, a Web Developer from Ontario, Canada. Shane is a recent Advanced Multimedia post graduate student specializing in web application design and development. He enjoys coding in Actionscript, Javascript, PHP and Ruby with various different frameworks and is a stickler for best practices.</p>
  </section>
  <section id="portfolio">
  <h3>Work</h3>
  <ul>
    <li> <a href="/portfolio/devstation">The Dev Station</a> </li>
    <li> <a href="/portfolio/thesis">AMM - OPMA - Thesis</a> </li>
    <li> <a href="/portfolio/bomb">Bomb Beverages</a> </li>
  </ul>
  </section>
  <section id="resume">
  <h3>Resume</h3>
  <ul>
    <li> <a href="/portfolio/resume">Online</a> </li>
    <li> <a href="#">PDF</a> </li>
  </ul>
    
  <p>You can also check me out on <a href="#">github</a>.</p>
  </section>
</div>

<!-- end sidebar -->

<footer class="bottom">
&copy; 2011 Shane Jonas. 
</footer>
</body>
</html>
